<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Mis coches</h1>
            <a class="btn btn-secondary btn-lg" href="/links/lista">
                Adelante!
            </a>
        </div>
    </header>
</main>